.pageNotFound-main{
    width: 100vw;
    height: 100vh;
    background-color: black !important;
display: flex;
flex-direction: column;
align-items: center;
}

.pagenf_oops{
    width: 90vw;
    height: 90vh;
 
}

.pnf_oops_text{
    color: white;
    position: relative;
    bottom: 38vh;
}